.container{
    height: 550px;
    background-image: linear-gradient(rgb(8, 8, 86),rgb(11, 205, 231),rgb(248, 58, 248));
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.innerContainer{
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    border: 0px ridge white;
    height: 600px;
    width: 400px;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow:3px 3px grey  ;
    border-radius: 9px;
    
}

input{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid rgb(22, 223, 217);
}
button{
    margin-left: 70px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(22, 223, 217);
    width:150px ;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: white;
    background-color: rgb(28, 28, 141);
    border: 0px solid magenta;
    cursor: pointer;
}
input:hover{
    border: 2px solid rgb(8, 8, 91);
}
.top{
   margin-left: 70px;
    font-size: 30px;
    color: rgb(28, 28, 141);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
    font-weight: 900;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: 1px;
}
.success input{
    border:2px solid rgb(9, 207, 9);
}
.error input{
    border:2px solid rgb(203, 6, 6);
}
label{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}